body {
	background-color: #F3F3F3;
	width: 500px;
}

#power {
	border: 2px groove #AABBCC;
	border-radius: 7px;
	top: 10px;
	width: 62px;
	padding: 2px;
	padding-right: 0px;
	margin-bottom: 3px;
	margin-right: -5px;
	margin-top: 5px;
	display: inline-flex;
  cursor: pointer;
  float: right;
}

#power:hover {
	border: 2px ridge #667788;
	cursor: pointer;
}

#powerState {
	font-style: italic;
	font-weight: bold;
	cursor: pointer;
}

#togglePower {
	cursor: pointer;
}

fieldset {
  padding: 0px 5px 5px 0px;
}

.leg {
  color: #646464;	
	font-size: 11px;
}

.tt {
	color: #969696;
	font-style: italic;
	font-size: 11px;
}

td {
	text-align: center;
	padding-right: 5px;
	font-size: 12px;
}

td ~td {
	border-left: 2px ridge #FFFFFF;
	padding-left: 5px;
}

#selOS, #selBRO {
	display: flex;
	margin-right: 0px;
}

#result {
	margin-top: 3px;
	width: 497px;
	overflow-x: auto;
	overflow-y: auto;
}

#result select {
	border: none;
	min-width: 497px;
}

.optua {
	font-size: 11px;
}

#uaShow {
	margin-top: 5px;
}

#uaShow label {
	font-size: 11px;
}

button.sub {
	width: 70px;
	height: 30px;
	background-color: #BBFFBB;
	border-radius: 20px;
	margin-right: 20px;
	margin-top: 10px;
}

#rndNum {
	text-align: center;
	border-radius: 5px;
}
#lblRnd {
	display: inline-block;
	vertical-align: sub;
}

#btn {
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}

#swrnd {
	display: inline-block;
	float: right;
	margin-top: 7px;
}

#rndType {
	font-size: 12px;
	width: 75px;
}

/* popup info */
#infoBtn {
	border-radius: 50%;
	font-size: 10px;
	color: #FFF;
	background-color: #0066FF;
	text-align: center;
}

.infoPopC {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	float: right;
}

.infoPopC .txtPopC {
	visibility: hidden;
	width: 320px;
	background-color: #444;
	color: #FFF;
	border-radius: 10px;
	padding: 0;
	text-align: left;
	position: absolute;
	z-index: 1;
	bottom: 140%;
	left: 50%;
	margin-left: -160px;
	font-size: 12px;
	margin-bottom: 2px;
}

.infoPopC .txtPopC ul {
	padding: 2px 5px 2px 15px;
}

.infoPopC .txtPopC ul li:first-child {
	margin-bottom: 5px;
}

.infoPopC .txtPopC.show {
	visibility: visible;
	opacity: 0.95;
}

.infoPopC .txtPopC:after {
	content: "";
	position: absolute;
	top: 100%;
	left:  50%;
	margin-left: -5px;
	border-width: 7px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}